<div class="main">
  <%# <h1 class="title letter">CRUSHS</h1> %>
  <div class="text">
    <h3 class="title">CONTACT</h3>
    <p>Pour toute information ou question merci d'envoyer un mail directement à </p>
    <p>crushs.connexion@gmail.com</p>
  </div>
</div>
