.btn-home {
  // font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: whitesmoke;
  border: 1px solid #F5A7B3;
  border-radius: 10px;
  width: 450px;
  height: 80px;
  color: #F5A7B3;
  font-size: 1.5rem;
  &:hover {
    color: #F5A7B3;
    text-shadow: 0px 0px 1px #F5A7B3;
    border: 3px solid #F5A7B3;
    transition: all 0.3s ease;
  }
}


.btn-ghost {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  // margin: 20px;
  width: 250px;
  height: 50px;
  border: 3px solid white;
  // padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  // text-align: center;
  &:hover {
    opacity: 0.8;
    color: white;
    transition:  0.3s ease;
  }
}



// .btn {
  // cursor: pointer;
  // -webkit-user-select: none;
  // -moz-user-select: none;
  // user-select: none;
  // text-decoration: none;
  // & a{
  //   display: block;
  // }
// }

// .btn-login {
//   font-size: 16px;
//   font-weight: bold;
//   letter-spacing: 2px;
//   border: 2px solid #F5A7B3;
//   width: 200px;
//   height: 50px;
//   border-radius: 10px;
//   margin: 10px;
//   padding: auto;
//   text-align: center;
//   text-decoration: none;
//   padding: 10px 25px 0 0;
//   opacity: 1;
//   a{
//     display: block;
//     text-decoration: none;
//     color: #F5A7B3;
//   }
//   &:hover{
//     // background-color: white;
//     opacity: 0.7;
//     transition: all 0.3s linear;
//   }
//   :hover a {
//     list-style: none;
//     color: #F5A7B3;
//     transition: all 0.3s linear;
//   }
// }


// .btn-list-none ul{
//   list-style: none;
// }







// .btn-pink {
//   color: #F5A7B3;
//   margin: 20px;
//   width: 250px;
//   height: 50px;
//   border: 3px solid #F5A7B3;
//   padding: 8px 24px;
//   border-radius: 50px;
//   font-weight: lighter;
//   opacity: 0.7;
//   transition: opacity 0.3s ease;
//   &:hover {
//     opacity: 1;
//     color: #F5A7B3;
//   }
// }

// .btn-validate {
//   width: 250px;
//   height: 50px;
//   background: #FFFFFF;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//   border-radius: 20px;
//   color: #F5A7B3;
//   font-size: large;
//   & :hover{
//     color: #F5A7B3;
//   }
// }

// .btn-black {
//   border-radius: inherit;
//     display: inline-block;
//     padding: 0 clamp(1rem, 5vw, 3rem);
//     line-height: 2.5rem;
//     margin: 3px;
//     position: relative;
//     z-index: 2;
//     font-weight: 600;
//   border-radius: 10px;
//   border: 3px solid #ed147d;
//   background: linear-gradient(347deg, #1e19f0 0%, #ed147d 50%, #1e19f0 100%);
//   &:after{
//     transition: all 0.3s ease;
//     content: '';
//       width: calc(100% + 2px);
//       height: calc(100% + 2px);
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       transform: translate(-50%, -50%);
//       z-index: 1;
//       border-radius: inherit;
//   }
// }


// .btn-gradient-left {
//   color: #F5A7B3;
//   height: 600px;
//   padding: 8px 24px;
//   border-radius: 10px;
//   font-weight: bold;
//   background: linear-gradient(#FFFFFF,#ac2121);
//   transition: background 0.3s ease;
//   opacity: 0.9;
//   :hover {
//     opacity: 1;
//   }
// }

// .btn-gradient-right {
//   color: #FFFFFF;
//   height: 600px;
//   padding: 8px 24px;
//   border-radius: 10px;
//   font-weight: bold;
//   background: linear-gradient(#77818d, #184681);
//   transition: background 0.3s ease;
//   opacity: 0.9;
//   :hover {
//     opacity: 1;
//   }
// }

// .btn-submit{
//   color: #F5A7B3;
// }

// .arrow-btn {
//   background-image: url("arrow.png");
//   background-position: right;
//   background-size: 40px;
//   background-repeat: no-repeat;
// }
