.cambria {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.font-slogan {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 10;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}
